// Sizes
$main-padding: 35px;
$content-padding: 50px;
$bottom-padding: 70px;

$header-height: 182.5px;
$footer-height: 186px;
$min-content-height: $header-height + $footer-height;

// Colors
$black: #15152A;
$blue: #2296F5;
$dark-blue: #393294;
$dark-green: #237B49;
$gray: #d3d3d3;
$green: #53B948;
$light-blue: #5AD2EA;
$light-gray: #F9F9F9;
$medium-blue: #3E44C1;
$orange: #F46951;
$pink: #E75EA9;
$purple: #8239A7;
$red: #C41A3D;
$white: #FFFFFF;
$yellow: #EBB41C;
