@import "../../styles/variables";

.supportTypesPage {
  padding: $content-padding $content-padding $bottom-padding;
}

.title {
  margin-top: 0;
  margin-bottom: 23px;
}

.subtitle {
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  margin-top: 0;
  margin-bottom: 50px;
}

.supportCardContainer {
  display: flex;
  flex-flow: row wrap;
}

.supportCard {
  margin-right: 22px;
  margin-bottom: 22px;
  width: 31%;
  &:nth-child(3n) {
    margin-right: 0;
  }
  &Active {
    &:first-child {
      div {
        background-color: $pink;
      }
    }
    &:nth-child(3) {
      div {
        background-color: $medium-blue;
      }
    }
    &:first-child, &:nth-child(3) {
      h4 {
        color: $white;
      }      
      div {
        border-radius: 5px;
      }
    }
  }
}

.buttonContainer {
  display: flex;
  width: 100%;
  .icon {
    margin-left: 5px;
    svg {
      vertical-align: middle;
    }
  }
  a {
    align-items: center;
    align-self: flex-end;
    background-color: $white;
    border: none;
    border-radius: 0;
    border-top: 1px solid rgba($black, .1);
    color: $black;
    display: flex;
    flex-grow: 1;
    font-size: 12px;
    font-weight: 500;
    height: 75px;
    justify-content: center;
    &:first-child {
      border-bottom-left-radius: 5px;
    }
    &:last-of-type {
      border-left: 1px solid rgba($black, .1);
      border-bottom-right-radius: 5px;
    }
    &, &:hover {
      box-shadow: none;
    }
    &:active, &:focus {
      outline: none;
    }
  }
}

.buildButton {
  margin-top: 40px;
  button {
    padding: 15px 90px;
  }
}

.modalDescription {
  display: flex;
  padding: 30px 50px 72px 30px;
  h4 {
    margin-bottom: 0;
  }
  p {
    margin-top: 5px;
  }
  ul {
    li {
      line-height: 22px;
      font-size: 14px;
    }
  }
  a {
    box-shadow: none;
    color: $black;
    b {
      font-size: 14px;
      line-height: 18px;
    }
    &:hover {
      color: $green;

      svg g {
        fill: $green;
      }
    }
  }
  button {
    margin-right: 35px;
  }
  .icon {
    margin-left: 10px;
    vertical-align: middle;
  }
}

.col20 {
  width: 20%;
}

.col80 {
  width: 80%;
  margin-left: 20px;
}
